{% extends "base.html" %}




{% block zoom_content %}
    <h2>About Us</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mi ex,
        aliquam eu placerat sed, fringilla ut metus. Integer efficitur purus at
        dignissim efficitur. Aliquam ultricies mi tempor massa commodo mattis
        euismod sed eros. Suspendisse massa nisi, ornare vitae ex non, porttitor
        tempor neque. Nulla facilisi. Praesent in nunc eget erat auctor iaculis.
        Mauris lacinia porttitor mollis. Vivamus vel laoreet erat. Integer in
        fringilla urna, sed dapibus lacus. Vivamus aliquet libero a enim
        malesuada bibendum. Nunc convallis enim eu turpis lobortis, in ultrices
        nisi condimentum. Nullam varius dictum dolor nec fringilla.
        </p>
{% endblock %}