{% extends "base.html" %}

{% block zoom_content %}


        <div>
            <a href="{% url 'property_gallery' property.id %} "> <img src='{{ feature_photo.photo.url }}'alt="The feature photo of the property" width='150' height='150' /></a>
             <h3> {{ property.title }} </h3>
            <p> {{ property.description }}</p>


            <h3> Access Features </h3>

{% for access in property_needs_access %}

                <p> {{ property.description }} </p>


{% endfor %}
            <h3> Amenities </h3>
                <p> {{ amenity.washer }} </p>


        </div>

<a href="{% url 'properties_listing' %}"><h3> Go back Home to list of properties! </h3></a>

{% endblock %}