{% extends "base.html" %}

{% block zoom_content %}


        <div>
            <a href="{% url 'property_gallery' property.id %} "> <img src='{{ feature_photo.photo.url }}'alt="The feature photo of the property" width='150' height='150' /></a>
             <h3> {{ property.title }} </h3>
             <ul>
                <li> {{ property.type_id}} </li>
                 <li> {{ property.num_bedroom }} bed/{{ property.num_bathroom }} bath</li>
                 <li> {{ property.type_id.square_feet }} ft<sup>2</sup> </li>

             </ul>
                <h3> Property Description </h3>
            <p> {{ property.description }}  </p>


                <h3> Access Features </h3>
            {% for need in property.property_access.all %}
            <ul>
                <li> {{ need }}</li>
            </ul>
            {% empty %}
            <li>This property is not accessible.</li>
            {% endfor %}

                <h3> Amenities </h3>
            {% for amenity in property.property_amenity.all %}
            <ul>
                <li>  {{ amenity }} </li>
            </ul>
            {% empty %}
            <li>This property doesn't have any amenities.</li>
            {% endfor %}

                <h3> Potential Allergens </h3>
            {% for allergy in property.property_allergens.all %}
            <ul>  <li> {{ allergy }}  </li>
                {% empty %}
                <li>Allergy Free!</li>
            </ul>
            {% endfor %}

                <h3> Vehicle with Property </h3>
            {% for vehicle in property.property_vehicle.all %}
                <ul><li>{{ vehicle }}</li></ul>
                {% empty %}
                <li> No vehicle available for use with this property.</li>
            {% endfor %}



        </div>

<a href="{% url 'properties_listing' %}"><h3> Go back Home to list of properties! </h3></a>

{% endblock %}