{% extends "base.html" %}

{% block zoom_content %}


    {% for property in listing %}
        <div>
           <a href="{% url 'property_gallery' property.id %}"><img src='{{ property.picture.photo.url }}' alt="The feature photo of the property" width=150, height=150 /></a>
           <a href="{% url 'property_description' property.id %}"> <h2> {{ property.title }}  </h2> </a>

            <section class="listing">
            <ul>
                <li> {{ property.type_id}}</li>
                <li> {{ property.num_bedroom }} bed/{{ property.num_bathroom }} bath</li>
                <li> {{ property.type_id.square_feet }} ft<sup>2</sup> </li>
            </ul>
            </section>
            <h3> Accessible Bedrooms Score </h3>
            <ul>
            <li> {{ property.access_num_bedroom}} / {{ property.num_bedroom }} </li>
            </ul>

            <h3> Accessible Bathrooms Score </h3>
            <ul>
            <li> {{ property.access_num_bathroom}} / {{ property.num_bathroom }}</li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}

