
<body>
<div id="page">
	<div id="sidebar">
		<div id="logo">
			<h1><a href="#">Zoom Around the World</a></h1>
		</div>
		<!-- end header -->

		<!-- end menu -->
		<div id="login">
			<h2 class="title1">User Login</h2>
			<form id="form1" method="post" action="#">
				<fieldset>
				<label for="inputtext1">Email:</label>
				<input id="inputtext1" type="text" name="inputtext1" placeholder="youremail@something.com" />
				<label for="inputtext2">Password:</label>
				<input id="inputtext2" type="password" name="inputtext2" value="" />
				<input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" />
				<label for="rememberme"><input name="rememberme"id="rememberme" type="checkbox" checked="checked"value="forever"/> Remember me</label><br/>
					<p><a href="#">Forgot your password?</a><br />
					<a href="#">Register for Free!</a></p>
				</fieldset>
			</form>
			<script type="text/javascript">
				$('#commentform').formerize();
			</script>
		</div>
	</div>
	<!-- end sidebar -->
	<div id="content">

		<form action="" method="post"
			  enctype="multipart/form-data">
			<p>
				<input id="id_image" type="file" class="" name="image">
			</p>
			<input type="submit" value="Submit"/>
		</form>

		<div><img src="someimage.jpg" alt="" width="740" height="220" /></div>
		<div class="boxed">
			<h1 class="title2">I'm so glad you stopped by!</h1>
			<p><strong>Zoom</strong>
			<a> href="http://www.stratosgroupllc.com/" </a> Stratos Group LLC  </p>
			<h3>Something to say</h3>
			<p>Something to say</p>
			<blockquote>
				<p> &rdquo;</p>
			</blockquote>
		</div>
		<div class="boxed orange">
			<div class="col-one">
				<h2 class="title3">Something to say</h2>

			</div>
			<div class="col-two">
				<h2 class="title3">Something to say</h2>

			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>

