{% extends "base.html" %}


{% block zoom_content %}

            <section class="register">
                <form  action="new_user" method="post">
                    {% csrf_token %}

                    username:
                    <input type="text" name="username" value="{{ username}}"/><br/>
                    password:
                    <input type="password" name="password" value=""/><br/>
                    Email:
                    <input type="text" name="email" value="{{email}}"/><br/>

                    <input type='submit' value='Register'/>
                </form>

            </section>





    {% endblock %}