<!DOCTYPE html>
<html>

<head></head>
<body>
<div id="wrapper">
    <header>
        <nav class="navbar navbar-default"></nav>
        <div class="alertbanner">
        </div>
    </header>
    <div class="container-fluid">
        ::before
        <div class="container-fluid">
            ::before
            <h1 align="center">

                Add a new listing

            </h1>
            <hr></hr>
            <script type="text/javascript">

                $(document).ready(function () {
                    var maxLength1 = …

            </script>
            <section>
                <div class="container-fluid">
                    ::before
                    <div class="row">
                        ::before
                        <div class="col-md-10 col-md-offset-1">
                            <form id="new_post" class="new_post" method="post"
                                  accept-charset="UTF-8" action="/posts"
                                  enctype="multipart/form-data">

                                <input type="hidden" value="✓"
                                       name="utf8"></input>
                                <input type="hidden"
                                       value="8keaKuft9LVXMrJr2/Ate2P6wR94B8RGSHIHbK/vcZ7Ht+/AgFRr6Qv2LBFLxkT2MD4YS2yuSRIWAkw0XAGUgw=="
                                       name="authenticity_token"></input>
                                <h4>

                                    Please note that large images may take a
                                    while to …

                                </h4>
                                <h4></h4>
                                <hr></hr>
                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>
                                <h4>

                                    B. Location

                                </h4>
                                <hr></hr>
                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>
                                <h4>

                                    C. Availability

                                </h4>
                                <hr></hr>
                                <label class="formlabel"
                                       for="post_What basis is the listing available on">

                                    What basis is the listing available on?

                                </label>

                                <div class="field"></div>
                                <div class="field"></div>
                                <label class="formlabel"
                                       for="post_other_charges">

                                    Please state whether there are any other
                                    fees / ch…

                                </label>
                                <br></br>
                                <input id="post_other_charges"
                                       class="form-control" type="text"
                                       name="post[other_charges]"
                                       placeholder="e.g. service charges, cleaning fees etc"></input>
                                <br></br>
                                <h4>

                                    D. Accessibility information

                                </h4>
                                <hr></hr>
                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>
                                <h4>

                                    E. Amenities and services

                                </h4>
                                <hr></hr>
                                <p>

                                    Please select the amenities and services
                                    offered

                                </p>

                                <div class="row"></div>
                                <!--

                                 row

                                -->
                                <br></br>
                                <h4>

                                    F.

                                </h4>
                                <hr></hr>
                                <div class="field">
                                    <label class="formlabel" for="post_avatar">

                                        Please select a featured image
                                        (REQUIRED).

                                    </label>
                                    <br></br>
                                    <input id="post_avatar" class="form-control"
                                           type="file"
                                           name="post[avatar]"></input>
                                </div>
                                <br></br>

                                <div class="field"></div>
                                <br></br>
                                <h5></h5>
                                <hr></hr>
                                <!--

                                  <div class="field">

                                            <button class="…

                                -->
                                <h4>


                            </form>
                        </div>
                        ::after
                    </div>
                    ::after
                </div>
            </section>
            ::after
        </div>
        ::after
    </div>
</div>
<br></br>
<br></br>
<br></br>

<div id="footer"></div>
</body>
</html>

