{% extends "base.html" %}

{% block zoom_content %}
<section class="signup">
    <h2>Start Zooming Around</h2>

    <form id="signup" method="post" novalidate>
        <label for="firstname">First Name</label>
        <input type="text" name=" First Name" placeholder=" First Name"
               required/>
        <label for="lastname">Last Name</label>
        <input type="text" name="Last Name" placeholder="Last Name" required/>
        <label for="email">email</label>
        <input type="email" name="email" placeholder="youremail@whatever.com"
               required/>

        <input type="submit" name="submit" id="submit"
               value="Zoom to your next adventure!"/>
    </form>
    <script type="text/javascript">
        $('#commentform').formerize();
    </script>
</section>

{% endblock %}