
body {
	margin: 0;
	padding: 0;
	background: #d8e5d8;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #1a09a9;
}

/* -------Menu------- */

#menu {
	margin-bottom: 50px;
	padding: 25px;
	width: 100%;
	background: #85C329 repeat-x;
}

#menu ul {
	text-align: center;
	margin: 20px 20px 20px 20px;
	list-style: none;
}

#menu a {
	font-size: 129%;
	color: #FFFFFF;
	padding-right: 75px;
	padding-left: 75px;
}

#menu a:hover {
	color: darkblue;
	text-decoration: underline;
}

li {
	display: inline-block;
	list-style: none;
	}

img {

	margin: 0 auto;
	height: 225px;
	width: 225px;
	border: 10px solid black;
	border-right: 20px solid orangered;
	padding: 50px;
	left: 50%;
	top: 50%;
}

span {
	display: inline-block;
	width: 345px;
	height: 350px;
	position: relative;

}

div {
	display: inline-block;
	vertical-align: top;
	border-top: 5px solid #85C329;
	/*border-bottom: 5px double #85C329;*/
	text-align: center;
	margin: 5px;
	text-transform: capitalize;
}

.img_desc {
	border-bottom: 5px double #85C329;

}
.description {
	width: 70%;

}
section {
	display: inline-block;
}

section.register {
	text-transform: capitalize;

	}

a:hover {
	color: #85C329;

}
h3 {
	color: orangered;

}


/* Login */

#login {
	padding: 20px;
}

#login form {
	margin: 0;
	padding: 20px 0 0 0;
}

#login fieldset {
	margin: 0;
	padding: 0;
	border: none;
}


#signup {
	width: 194px;
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

input {
	margin-bottom: .5em;
	font: bold 100% Georgia, "Times New Roman", Times, serif;
	color: #666666;
}

#login a {
	color: #FFFFFF;
}


/* Footer */


#links {

	margin: 0;
	font-size: 85%;
	color: orangered;

}

footer {
  	display: inline-block;
	font-size: 85%;
	color: orangered;
	width: 980px;
	margin: 0 auto;
	background: repeat-x;
}

#links {
	/*float: left;*/
	/*width: 220px;*/
	padding: 35px 0 0 20px;
}

#legal {
	/*float: right;*/
	width: 720px;
	/*height: 45px;*/
	padding: 35px 0 0 20px;
}