<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javapic</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/sign_up.css" %}">
    <title>{% block title %}{% endblock %} | Zoom Appcessibility </title>

</head>
<body>
    <header>
        <h1>{% block header_text %} Zooming Around the World {% endblock %}</h1>
    </header>

    <section class="signup">
        <h2>Start Zooming Around</h2>

        <form id="signup" method="post" novalidate>
            <label for="name">name</label>
            <input type="text" name="name" placeholder="name" required/>
            <label for="username">username</label>
            <input type="text" name="username" placeholder="username" required/>
            <label for="email">email</label>
            <input type="email" name="email" placeholder="youremail@whatever.com"
                   required/>

            <input type="submit" name="submit" id="submit"
                   value="Find your next home away from home"/>
        </form>
    </section>
    <footer>
        <p>&copy; 2015 Stratos Group LLC </p>
    </footer>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{% static " js/validatezoom.js" %}"></script>
{% block custom_js_scripts %}{% endblock %}

</body>
 </html>